web_ui/web_app/__pycache__/*
web_ui/web_app/app/__pycache__/*
web_ui/web_app/app/data/__pycache__/*
web_ui/web_app/app/db/__pycache__/*
web_ui/web_app/app/home/__pycache__/*
web_ui/web_app/app/conf/__pycache__/*
web_app/app/turbo_wrapper/__pycache__/*