{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<div class="containerd-flex flex-column">
  {% include "page/component/nav_bar.html" %}
  
  <div class="container mt-4">
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               
                {% for key in list_experiments_dict[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list_experiments_dict %}
            <tr>
                {% for key, value in item.items() %}
                    <td onclick="expandCell(this)" class="truncate-custom">{{ value }}</td>
                {% endfor %}

               <td> <a class="btn btn-success" href="{{ url_for('home.deploy', experiment_number=item['experiment_number']) }}">Deploy</a></td>
            </tr>
          
        {% endfor %}
        </tbody>
    </table>
</div>
  </div>

<script>
    function expandCell(cell) {
        cell.classList.toggle("expanded");
    }
</script>

  {% endblock %}